.mycarousel{
    background-color: #f2f2f3;
    max-width: 1240px;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-top:40px;
}
.mycarousel h1:first-child{
    font-size: 1.875rem;
    color: #222432;
    padding-bottom: 25px;
    text-align: center;
}

.mydivs{
    height: 260px;
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    padding: 2rem 4rem;
}
.mydivs h3{
    font-size: 20px;
    margin-top: 15px;
}
.myDivBorder{
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

.mycarosel-p1{
    font-size: 1.125rem;
    color: #666;
    font-weight: 600;
}
.mycarosel-p2{
    color: #212529;
    margin-top: 15px;
    font-weight: 400;
}

.arrowDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #c94f14;
    color: #fff;
    align-self: center;
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-size: 24px;
}
.lastSlide{
    background-color: #666;
}

.dots{
    height: 1rem;
    width: 1rem;
    background-color: #666;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.activeDot{
    background-color: #c94f14;
}